{% load static %}

<div style="display:flex; align-items:center; justify-content:center; background-color:#f8f9fa">
    <div style="width: 500px; height: 550px; margin: 50px; background-color: #ffffff;">
        <div style="text-align: center; background-color: #b8d3ff; padding: 20px 0px">
            <img src="{% static "images/pricepointer-logo.png" %}" width="200" height="auto" alt="pricepointer">
        </div>

        <div style="display:flex; align-items:center; justify-content:center;">
            <div style="margin: 30px;">
                <div style="font-size: 24px; font-weight: 900; width: 250px; margin: 0 auto;"> We're sad to see you go!
                </div>
                <img
                        src="{% static "images/unsubscribe.png" %}"
                        width="400"
                        height="auto"
                        alt="Success"
                        style="padding: 10px;"
                >
                <div style="color: #8a8a8a;  width: 300px; margin: 0 auto">You have successfully unsubscribed from
                    pricepointer. You will no longer be recieving emails from us.
                </div>
            </div>
        </div>
    </div>
</div>
