{% load static %}
{% load render_bundle from webpack_loader %}
{% load constants %}
{% load macros %}

{% macro title %}
    {% block title %}{% endblock %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% usemacro title %} - {% config 'site_name' %}</title>

    {% render_bundle 'main' 'css' %}
    {% block css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
{% render_bundle 'main' 'js' %}
{% block js %}{% endblock %}
</body>
</html>
︀
