// Colors

$black: #212b37;
$grey800: #343a40;
$grey700: #495056;
$grey600: #858e96;
$grey500: #adb5bd;
$grey400: #cfd4da;
$grey300: #dfe2e7;
$grey200: #eaecee;
$grey100: #f1f3f5;
$white: #f8f9fa;

$primary800: #0d2911;
$primary700: #123a18;
$primary600: #1b712d;
$primary500: #23a143;
$primary: #31c957;
$primary300: #62d875;
$primary200: #aaf5b9;
$primary100: #ecefeb;

$red800: #4a1212;
$red700: #601818;
$red600: #891b1c;
$red500: #b92120;
$red400: #dc3030;
$red300: #e46364;
$red200: #f5aaaa;
$red100: #fce8e8;

$blue800: #152736;
$blue700: #203d54;
$blue600: #1b4971;
$blue500: #2368a1;
$blue400: #3183c9;
$blue300: #62a2d8;
$blue200: #c7e0f4;
$blue100: #f0f8ff;

$fontFamily: 'Basier', 'Arial';
$fontSize: 16px;
$headerFontFamily: 'Recoleta';
$fontColor: $black;
$mobileFontSize: 13px;
