// Colors

$black: #130f49;
$grey800: #343a40;
$grey700: #495056;
$grey600: #858e96;
$grey500: #adb5bd;
$grey400: #cfd4da;
$grey300: #dfe2e7;
$grey200: #eaecee;
$grey100: #f1f3f5;
$white: #f8f9fa;

$primary800: #660a1c;
$primary700: #7d113f;
$primary600: #a12258;
$primary500: #ce3d7a;
$primary: #f06ba2;
$primary300: #e07ba5;
$primary200: #eaabc5;
$primary100: #ecd2dc;

$red800: #4a1212;
$red700: #601818;
$red600: #891b1c;
$red500: #b92120;
$red400: #dc3030;
$red300: #e46364;
$red200: #f5aaaa;
$red100: #fce8e8;

$blue800: #152736;
$blue700: #203d54;
$blue600: #1b4971;
$blue500: #2368a1;
$blue400: #3183c9;
$blue300: #62a2d8;
$blue200: #c7e0f4;
$blue100: #f0f8ff;

$fontFamily: 'Basier', 'Arial';
$fontSize: 16px;
$headerFontFamily: 'Recoleta';
$fontColor: $black;
$mobileFontSize: 13px;
