@import "../../abstracts/variables";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";
@import "../../theme";

.signup-box {
  padding: 12px;
  width: 344px;
  max-width: 344px;
  flex-grow: 1;

  &-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: color(bg, 1);
    padding: 24px;
    height: 100%;

    > * {
      position: relative; /* To display all elements above the box with shadow */
      width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include shadow;
      mix-blend-mode: multiply;
    }
  }

  &-button {
    align-self: flex-end;
    margin-bottom: 18px;

    button {
      display: block;
      width: 100%;
    }
  }

  &-form {
    margin-bottom: 12px;
  }

  &-footer {
    font-size: 12px;
    color: $grey500;

    .link {
      text-align: center;
    }
  }

  input {
    margin-bottom: 12px;
  }

  label {
    font-size: 13px;
    margin-bottom: 6px;
    display: inline-block;
  }
}
