{% extends "_partial/main.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load constants %}

{% block css %}
    {% render_bundle 'landing' 'css' %}
{% endblock %}

{% block js %}
    {% render_bundle 'landing' 'js' %}
{% endblock %}

{% block title %}
    Pricepointer = Save now!
{% endblock %}

{% block content %}
    <div id="content">
        <div class="header">
            <div class="header__left">
                <a class="logo">{% config 'site_name' %}</a>
            </div>
            <div class="nav">
                <a href="{% url 'signin' %}" title="Sign in">Sign in</a>
            </div>
        </div>
        <div class="hero">
            <div class="hero-bg"></div>
            <img class="hero-image" src="{% static "images/hero.svg" %}" alt="">
            <div class="hero-content">
                <h2 class="heading">
                    Get your dealhound on.
                </h2>
                <p>
                    Pricepointer notifies you when your favorite products go on sale.
                </p>
                <a href="{% config 'chrome_link' %}" class="button">Add to Chrome -- it's free</a>
            </div>
        </div>
        <section class="section how">
            <div class="section__left">
                <div class="demo-bg"></div>
                <img class="demo-image" src="{% static "images/demo.png" %}" alt="">
            </div>
            <div class="section__right">
                <h2>
                    How it works
                </h2>

                <div class="how__step">
                    <h3>Login</h3>
                    <p>Click our extension and sign into your account to begin tracking products</p>
                </div>
                <div class="how__step">
                    <h3>Selecting price</h3>
                    <p>Open our extension and click our "Select price" button and click the price of the product you
                        would like to begin to track</p>
                </div>
                <div class="how__step">
                    <h3>Complete fields</h3>
                    <p>Name the product you are tracking, how long you would like to track the item for (leave blank to
                        permanently track) and what price you would like to be notified at.</p>
                </div>
            </div>
        </section>
        <section class="section cta">
            <div>
                <h2>Start saving today!</h2>
                <a href="{% config 'chrome_link' %}" class="button">Add to Chrome -- it's free</a>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
    {% include '_partial/footer/footer.html' %}
{% endblock %}
