<table style="width:600px; margin: 0 auto; background-color:#f8f9fa;">

    <!-- Top section of email showing price pointer and colored background -->
    <tr style="height: 100px;">
        <td>
            <div style="text-align: center;">
                <img src="https://i.imgur.com/iJvZ1cj.png" width="140" height="25">
            </div>
        </td>
    </tr>

    <!-- Div that will hold the main body of text -->
    <tr style="text-align: center;">
        <td>
            <div style="font-size: 40px; color: #4d5dd2;">
                Thanks for joining us!
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div style="text-align: center;">
                <img src="https://i.imgur.com/nbfTExb.png" width="500" height=auto>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div style="text-align: center; margin: 0px 130px 20px; font-size: 14px;"> Activate your account to complete your Pricepointer
                account. It's as easy as clicking the button below.
            </div>
        </td>
    </tr>

    <!-- Button -->
    <tr>
        <td>
            <div style="text-align: center; height: 50px; padding-top: 20px;">
                <a
                        style="padding: 15px 55px 15px 55px; color: white; background-color: #00c6e8; border-radius: 5px; text-decoration: none;"
                        href={{ activate_link }}> Activate Now!</a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div style="text-align: center; margin: 0px 0px 20px; font-size: 8px;"> If you did not sign up for Pricepointer, please
                ignore this email.
            </div>
        </td>
    </tr>
    <tr>
        <td style="border-bottom:1px solid #878787" colspan="100%"></td>
    </tr>

    <!-- end section that will hold various information that is not as important -->
    <tr>
        <td style="display: inline; color: #878787;">
            <div style="font-size: 8px; text-align: center;">
                Copyright @ Pricepointer
                <br/>
                No longer wish to recieve emails from Pricepointer?
                <a href={{ unsubscribe }}>unsubscribe</a>.
            </div>
        </td>
    </tr>
</table>
