<table style="width:600px; margin: 0 auto; background-color:#f8f9fa;">

    <!-- Top section of email showing price pointer and colored background -->
    <tr style="height: 100px;">
        <td>
            <div style="text-align: center;">
                <img src="https://i.imgur.com/iJvZ1cj.png" width="140" height="25">
            </div>
        </td>
    </tr>

    <!-- Div that will hold the main body of text -->
    <tr style="text-align: center;">
        <td>
            <div style="color: #878787">
                Sorry, we cannot find the price of
            </div>

            <div style="font-size: 40px; color: #4d5dd2;">
                {{ item }}
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div style="text-align: center;">
                <img src="https://i.imgur.com/5y6WbQG.png" width="450" height=auto>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div style="text-align: center; margin: 20px 0px 20px;"> Help us relocate the price by visiting the site and making a new
                pricepointer!
            </div>
        </td>
    </tr>

    <!-- Button -->
    <tr>
        <td>
            <div style="text-align: center; height: 50px; padding-top: 20px;">
                <a
                        style="padding: 15px 55px 15px 55px; color: white; background-color: #00c6e8; border-radius: 5px; text-decoration: none;"
                        href={{ website }}> Click here!</a>
            </div>
        </td>
    </tr>

    <tr>
        <td style="border-bottom:1px solid #878787" colspan="100%"></td>
    </tr>

    <!-- end section that will hold various information that is not as important -->
    <tr>
        <td style="display: inline; color: #878787;">
            <div style="font-size: 8px; text-align: center;">
                Copyright @ Pricepointer
                <br/>
                No longer wish to recieve emails from Pricepointer?
                <a href="https:www.pricepointer.co">unsubscribe</a>.
            </div>
        </td>
    </tr>
</table>
