<div style="display:flex; align-items:center; justify-content:center; background-color:#f8f9fa">
    <div style="width: 500px; height: 550px; margin: 50px; background-color: #ffffff;">
        <div style="text-align: center; background-color: #b8d3ff; padding: 20px 0px">
            <img src="https://i.imgur.com/iJvZ1cj.png" width="200" height="auto" alt="pricepointer">
        </div>

        <div style="display:flex; align-items:center; justify-content:center;">
            <div style="margin: 30px;">
                <div style="font-size: 24px; font-weight: 900; width: 250px; margin: 0 auto;"> Your account was
                    successfully
                    created!
                </div>
                <img src="https://i.imgur.com/mjVuUK7.png" width="400" height="auto" alt="Success" style="padding: 10px;">
                <div style="color: #8a8a8a;  width: 250px; margin: 0 auto">You may close this window and sign in to
                    begin tracking your
                    products!
                </div>
            </div>
        </div>
    </div>
</div>
