@import "../theme";

header {
  box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 0px 0px;

  .container {
    display: flex;
    align-items: center;
    height: 48px;
  }
}

.header {
  &__spacer {
    flex: 1;
  }

  &__account-buttons {
    font-size: 11px;

    [role="button"] {
      text-transform: uppercase;
      letter-spacing: .1em;
      cursor: pointer;

      &:hover {
        opacity: .85;
      }
    }
  }
}

.help-button {
  display: flex;
  align-items: center;

  span {
    opacity: .75;
    margin-right: .5rem;
  }

  &:after {
    content: '\f059';
    font-family: FontAwesome;
    font-size: 16px;
    color: $grey700;
  }
}
