.site-footer {
  position: relative;
  @include font-size(7, mobile, true, true, true);
  @if (get-font-size(7, desktop) != get-font-size(7, mobile)) {
    @include media('>medium') {
      @include font-size(7, desktop, true, true, true);
    }
  }
  color: color(typography, 2i);
  margin-top: 40px; /* Give more padding because of the footer bg */
  background: $black;

  a {
    @include anchor-aspect(footer);
  }
}

.site-footer-inner {
  position: relative; /* To display all elements above the background color */
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-brand,
.footer-links,
.footer-social-links,
.footer-copyright {
  flex: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.footer-brand,
.footer-links,
.footer-social-links {
  margin-bottom: 24px;
}

.footer-links,
.footer-social-links {

  li {

    + li {
      margin-left: 16px;
    }
  }
}

.footer-social-links {

  li {
    display: inline-flex;

    a {
      padding: 8px;
    }
  }
}

@include media('>600px') {

  .site-footer {
    margin-top: 156px; /* Give more padding because of the footer bg */

    &::before {
      bottom: -35px;
    }
  }

  .site-footer-inner {
    justify-content: space-between;
  }

  .footer-brand,
  .footer-links,
  .footer-social-links,
  .footer-copyright {
    flex: 50%;
  }

  .footer-brand,
  .footer-copyright {
    justify-content: flex-start;
  }

  .footer-links,
  .footer-social-links {
    justify-content: flex-end;
  }

  .footer-links {
    order: 1;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
  }
}
